{% extends 'base.html.twig' %}

{% block content %}

    <form action="{{ path_for('login') }}" method="post" class="login-form">
        <p class="centre">
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" />
            <input type="submit" name="login" value="Login" />
        </p>
    </form>

{% endblock %}
